In [1]:
from olist.order import Order
from olist.seller import Seller
from olist.product import Product
from olist.data import Olist

/Users/emiliasato/.pyenv/versions/3.10.6/envs/ecommerce-analysis/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import plotly.express as px

In [3]:
products = Product().get_training_data()

In [4]:
products.head()

,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category,wait_time,price,share_of_one_stars,share_of_five_stars,review_score,cost_of_reviews,n_orders,quantity,sales,revenues,profits
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery,3.017639,10.91,0.0,1.0,5.0,0,1,1,10.91,1.091,1.091
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art,15.771898,248.00,0.0,1.0,5.0,0,1,1,248.00,24.800,24.800
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure,2.087674,79.80,0.0,1.0,5.0,0,1,1,79.80,7.980,7.980
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby,3.262986,112.30,1.0,0.0,1.0,100,1,1,112.30,11.230,-88.770
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares,2.899387,37.90,0.0,1.0,5.0,0,1,1,37.90,3.790,3.790

In [5]:
product_cat = Product().get_product_cat()

In [6]:
product_cat.head()

,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,wait_time,price,share_of_one_stars,share_of_five_stars,review_score,cost_of_reviews,n_orders,quantity,sales,revenues,profits
category,,,,,,,,,,,,,,,,,,
agro_industry_and_commerce,49.225352,780.943662,2.267606,5430.873239,36.422535,29.126761,26.422535,11.602829,441.921263,0.115982,0.455186,3.924322,36.901408,2.535211,209,1006.247887,100.624789,63.723380
air_conditioning,51.675000,921.691667,2.200000,4547.858333,36.841667,23.833333,26.200000,11.461313,208.906065,0.145010,0.565236,3.991434,34.250000,2.075000,291,452.376333,45.237633,10.987633
art,48.019608,720.156863,2.215686,1714.647059,36.098039,10.803922,23.392157,10.477878,207.937102,0.101494,0.687021,4.307236,64.117647,3.862745,199,467.841961,46.784196,-17.333451
arts_and_craftmanship,44.263158,620.421053,3.000000,1164.578947,28.368421,9.789474,21.052632,5.356206,65.839474,0.073684,0.694737,4.357895,22.105263,1.263158,24,95.474211,9.547421,-12.557842
audio,46.551724,781.965517,2.034483,641.637931,20.827586,11.500000,17.344828,13.360079,116.488832,0.201186,0.539507,3.755233,139.137931,6.034483,364,873.939655,87.393966,-51.743966

In [7]:
sorted_product_cat = product_cat.sort_values(by='profits',ascending=True).reset_index()
sorted_product_cat.head()

,category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,wait_time,price,share_of_one_stars,share_of_five_stars,review_score,cost_of_reviews,n_orders,quantity,sales,revenues,profits
0,home_comfort_2,51.800000,394.400000,1.200000,1467.600000,53.200000,15.200000,26.200000,10.713219,87.554000,0.042105,0.884211,4.715789,106.000000,4.800000,30,152.054000,15.205400,-90.794600
1,audio,46.551724,781.965517,2.034483,641.637931,20.827586,11.500000,17.344828,13.360079,116.488832,0.201186,0.539507,3.755233,139.137931,6.034483,364,873.939655,87.393966,-51.743966
2,electronics,47.467456,700.175542,1.954635,1234.465483,24.859961,11.609467,18.175542,12.215286,97.926903,0.099659,0.573353,4.130653,77.435897,5.039448,2752,307.106844,30.710684,-46.725213
3,furniture_mattress_and_upholstery,43.200000,1111.300000,2.000000,13190.000000,46.300000,34.400000,41.300000,18.331597,200.202545,0.271970,0.259848,3.218939,87.000000,3.800000,38,436.808000,43.680800,-43.319200
4,telephony,50.533514,749.903986,2.751812,237.071558,18.396739,6.812500,13.205616,12.354091,82.415361,0.118439,0.540235,4.001094,68.152174,3.855072,4514,288.803578,28.880358,-39.271816

In [10]:
sorted_product_cat['profits'].sum()

340.0823150799081

ERROR! Session/line number was not unique in database. History logging moved to new session 16

# Seller Analysis

In [11]:
sellers = Seller().get_training_data()

/Users/emiliasato/code/emiliasato/ecommerce-analysis/olist/seller.py:99: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df = orders_sellers.groupby('seller_id').agg({
/Users/emiliasato/code/emiliasato/ecommerce-analysis/olist/seller.py:99: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df = orders_sellers.groupby('seller_id').agg({

In [12]:
sellers['profits'].sum()

1167608.4440000001

In [13]:
products['profits'].sum()

-289896.93499999994

In [16]:
products['sales'].sum()

13211830.65

In [18]:
sellers['sales'].sum()

13555784.440000001

In [15]:
products.sort_values(by='profits')

,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category,wait_time,price,share_of_one_stars,share_of_five_stars,review_score,cost_of_reviews,n_orders,quantity,sales,revenues,profits
9199,99a4788cb24856965c36a24e339b6058,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,bed_bath_table,13.604348,88.167131,0.127983,0.492408,3.904555,9180,467,488,43025.56,4302.556,-4877.444
30668,53759a2ecddad2bb87a079a1f1519f73,58.0,340.0,2.0,1500.0,30.0,22.0,30.0,garden_tools,16.414961,54.657373,0.153310,0.581882,3.982578,5730,287,373,20387.20,2038.720,-3691.280
2889,7c1bd920dbdf22470b68bde975dd3ccf,59.0,492.0,2.0,200.0,22.0,10.0,18.0,health_beauty,10.913458,60.028961,0.157205,0.532751,3.877729,5040,225,231,13866.69,1386.669,-3653.331
20429,e53e557d5a159f5aa2c5e995dfdf244b,33.0,256.0,1.0,180.0,17.0,10.0,13.0,computers_accessories,18.462166,84.367486,0.259494,0.481013,3.544304,4920,156,183,15439.25,1543.925,-3376.075
24943,89b121bee266dcd25688a1ba72eefb61,54.0,1169.0,1.0,150.0,16.0,16.0,16.0,computers_accessories,12.610246,79.900000,0.540984,0.163934,2.278689,3790,62,68,5433.20,543.320,-3246.680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25624,588531f8ec37e7d5ff5b7b22ea0488f8,55.0,3611.0,4.0,2750.0,16.0,31.0,39.0,computers,14.051893,1414.599500,0.055556,0.666667,4.333333,220,19,20,28291.99,2829.199,2609.199
44,5f504b3a1c75b73d6151be81eb05bdc9,38.0,1176.0,3.0,15350.0,47.0,40.0,47.0,cool_stuff,14.611032,598.950794,0.031746,0.714286,4.555556,330,63,63,37733.90,3773.390,3443.390
18176,6cdd53843498f92890544667809f1595,51.0,625.0,1.0,900.0,25.0,12.0,38.0,health_beauty,15.439432,350.834615,0.080000,0.666667,4.320000,1690,151,156,54730.20,5473.020,3783.020
15401,bb50f2e236e5eea0100680137654686c,60.0,2644.0,6.0,400.0,34.0,4.0,22.0,health_beauty,13.635465,327.615385,0.079787,0.585106,4.212766,2380,187,195,63885.00,6388.500,4008.500
28568,d6160fb7873f184099d9bc95e30376af,55.0,3632.0,4.0,2600.0,16.0,31.0,39.0,computers,12.077439,1397.124000,0.057143,0.800000,4.571429,250,35,35,48899.34,4889.934,4639.934

In [32]:
orders_reviews = Order().get_review_score()
orders_products = Olist().get_data()['order_items'][['order_id',
                                         'product_id']].drop_duplicates()
df = orders_products.merge(orders_reviews, on='order_id')
df.query("product_id == '99a4788cb24856965c36a24e339b6058'")

,order_id,product_id,dim_is_five_star,dim_is_one_star,review_score
12,0006ec9db01a64e59a68b2c340bf65a7,99a4788cb24856965c36a24e339b6058,1,0,5
289,00c763284c0056eed753352f5559ff0a,99a4788cb24856965c36a24e339b6058,0,0,4
683,01be661b8196707ef60f062632d6d1bd,99a4788cb24856965c36a24e339b6058,1,0,5
1353,0368f4fdb586fe3cde123934d4ab5b5e,99a4788cb24856965c36a24e339b6058,0,0,3
1462,03b5a8a7f871d2a792f7af458fe13b4a,99a4788cb24856965c36a24e339b6058,1,0,5
...,...,...,...,...,...
101179,fd52368d8373ad4158396078bf5ad004,99a4788cb24856965c36a24e339b6058,1,0,5
101573,fe4e63c3ce772bf558a089b256e4e8d7,99a4788cb24856965c36a24e339b6058,0,0,4
101589,fe575916daa713f9830a8b7362121621,99a4788cb24856965c36a24e339b6058,1,0,5
101856,ff00a56fe9475a175cd651d77c707a09,99a4788cb24856965c36a24e339b6058,1,0,5
102032,ff79282c8f4c58df02fde009ad02d009,99a4788cb24856965c36a24e339b6058,0,0,3

In [27]:
df.head()

,order_id,product_id,dim_is_five_star,dim_is_one_star,review_score
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,0,5
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,0,0,4
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,0,5
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,0,0,4
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,0,5

In [36]:
df['cost_of_reviews'] = df.review_score.map({
    1: 100,
    2: 50,
    3: 40,
    4: 0,
    5: 0
})

In [38]:
df.query("product_id == '99a4788cb24856965c36a24e339b6058'").cost_of_reviews.sum()

9180

In [39]:
sellers.cost_of_reviews.sum()

1618210

In [40]:
products.cost_of_reviews.sum()

1611080

In [43]:
orders = Order().get_training_data()

In [45]:
orders['cost_of_reviews'] = orders.review_score.map({
    1: 100,
    2: 50,
    3: 40,
    4: 0,
    5: 0
})

In [47]:
orders.cost_of_reviews.sum()

1405990

In [53]:
order_reviews = Olist().get_data()['order_reviews']

In [54]:
order_reviews['cost_of_reviews'] = order_reviews.review_score.map({
    1: 100,
    2: 50,
    3: 40,
    4: 0,
    5: 0
})

In [57]:
order_reviews.cost_of_reviews.sum()

1627110

In [61]:
orders_reviews = Order().get_review_score()
orders_sellers = Olist().get_data()['order_items'][['order_id', 'seller_id'
                                                   ]].drop_duplicates()

In [62]:
orders_reviews

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

In [66]:
orders_sellers.groupby(by='order_id').agg({'seller_id':'nunique'})

                                  seller_id
order_id
00010242fe8c5a6d1ba2dd792cb16214          1
00018f77f2f0320c557190d7a144bdd3          1
000229ec398224ef6ca0657da4fc703e          1
00024acbcdf0a6daa1e931b038114c75          1
00042b26cf59d7ce69dfabb4e55b4fd9          1
...                                     ...
fffc94f6ce00a00581880bf54a75a037          1
fffcd46ef2263f404302a634eb57f7eb          1
fffce4705a9662cd70adb13d4a31832d          1
fffe18544ffabc95dfada21779c9644f          1
fffe41c64501cc87c801fd61db3f6244          1

[98666 rows x 1 columns]

In [72]:
products

,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category,wait_time,price,share_of_one_stars,share_of_five_stars,review_score,cost_of_reviews,n_orders,quantity,sales,revenues,profits
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery,3.017639,10.910000,0.000000,1.000000,5.000000,0,1,1,10.91,1.091,1.091
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art,15.771898,248.000000,0.000000,1.000000,5.000000,0,1,1,248.00,24.800,24.800
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure,2.087674,79.800000,0.000000,1.000000,5.000000,0,1,1,79.80,7.980,7.980
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby,3.262986,112.300000,1.000000,0.000000,1.000000,100,1,1,112.30,11.230,-88.770
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares,2.899387,37.900000,0.000000,1.000000,5.000000,0,1,1,37.90,3.790,3.790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31479,a0b7d5a992ccda646f2d34e418fff5a0,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,furniture_decor,12.957034,69.900000,0.176471,0.558824,3.911765,730,33,33,2306.70,230.670,-499.330
31480,bf4538d88321d0fd4412a93c974510e6,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,construction_tools_lights,9.274329,200.000000,0.000000,0.500000,4.500000,0,2,2,400.00,40.000,40.000
31481,9a7c6041fa9592d9d9ef6cfe62a71f8c,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,bed_bath_table,12.142257,127.300000,0.000000,0.600000,4.600000,0,5,5,636.50,63.650,63.650
31482,83808703fc0706a22e264b9d75f04a2e,60.0,156.0,2.0,700.0,31.0,13.0,20.0,computers_accessories,12.284614,32.702857,0.000000,0.666667,4.666667,0,3,7,228.92,22.892,22.892
31483,106392145fca363410d287a815be6de4,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,bed_bath_table,5.521470,107.500000,0.000000,1.000000,5.000000,0,1,1,107.50,10.750,10.750

In [76]:
products.query("profits < 0").tail()

,product_id,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category,wait_time,price,share_of_one_stars,share_of_five_stars,review_score,cost_of_reviews,n_orders,quantity,sales,revenues,profits
31470,d218a47759ef0d1db44044934909b88b,50.0,778.0,1.0,350.0,17.0,11.0,11.0,telephony,6.435208,38.700000,0.000000,0.500000,3.500000,50,2,2,77.4,7.74,-42.26
31473,dfec64aac9b864b2807a7be33222b75f,58.0,252.0,4.0,850.0,38.0,7.0,28.0,bed_bath_table,7.454421,84.400000,0.111111,0.777778,4.444444,100,10,10,844.0,84.40,-15.60
31475,16280ca280a86fee2ba3c928ed04439f,64.0,236.0,11.0,2200.0,31.0,11.0,26.0,furniture_decor,14.163345,89.900000,1.000000,0.000000,1.000000,100,1,1,89.9,8.99,-91.01
31478,c4e71b64511b959455e2107fe7859020,59.0,1371.0,2.0,200.0,18.0,15.0,15.0,housewares,8.210743,25.909091,0.000000,0.600000,4.400000,80,10,11,285.0,28.50,-51.50
31479,a0b7d5a992ccda646f2d34e418fff5a0,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,furniture_decor,12.957034,69.900000,0.176471,0.558824,3.911765,730,33,33,2306.7,230.67,-499.33

In [71]:
1355578-1618210

-262632